#myFooter {
    background-color: #3a3f46;
    color: white;
    text-align: left;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .info {
    text-align: justify;
    color: #afb0b1;
}

#myFooter .ul_footer {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter .logo {
    margin-top: 10px;
}

#myFooter .second-bar .logo a {
    color: white;
    font-size: 28px;
    float: left;
    font-weight: bold;
    line-height: 68px;
    margin: 0;
    padding: 0;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .second-bar {
    text-align: center;
    background-color: #33373e;
    text-align: center;
}

#myFooter .second-bar a {
    font-size: 22px;
    color: #9fa3a9;
    padding: 10px;
    transition: 0.2s;
    line-height: 68px;
}

#myFooter .second-bar a:hover {
    text-decoration: none;
}

#myFooter .social-icons {
    float: right;
}

#myFooter .facebook:hover {
    color: #3e9bec;
}

#myFooter .instagram:hover {
    color: rgb(14, 8, 14);
}

#myFooter .twitter:hover {
    color: #00aced;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
    #myFooter .info {
        text-align: center;
    }
}

#myFooter {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}